body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2
}

.navbar-brand,
.navbar-brand:hover {
    color: var(--sl-color-black);
    font-weight: 600
}

.small-muted {
    font-weight: var(--sl-font-weight-light);
    font-size: var(--sl-font-size-x-small);
}

.card,
.custom-jumbotron {
    border-radius: var(--sl-border-radius-x-large);
    box-shadow: var(--sl-shadow-large);
}

.custom-jumbotron {
    margin-bottom: 1rem;
    padding-left: 1.5rem;
}

.icon-button-color sl-icon-button::part(base) {
    color: var(--sl-color-black);
}

.card-water-level sl-icon {
    color: var(--sl-color-success-500);
}

.card-temperature sl-icon {
    color: var(--sl-color-danger-500);
}

.card-humidity sl-icon {
    color: var(--sl-color-primary-500);
}

.card-ph sl-icon {
    color: var(--sl-color-warning-500);
}

.card-salinity sl-icon {
    color: var(--sl-color-gray-500);
}

.card-turbidity sl-icon {
    color: var(--sl-color-warning-900);
}

@media (max-width: 768px) {
    h3 {
        font-size: 1.17em;
    }
}
